$backgroundcolor: rgb(74, 74, 74);

body{
    margin: 0;
    padding: 0;
    background-image: url(../Images/background1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

  .sidebar {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $backgroundcolor;
    transition: 1s;
    padding: 10% 0px;
    li{
        list-style-type: none;
    }
    a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #ffffff;
        display: block;
        transition: 0.3s;
        text-align: center;
        transform: translateX(-10%);
        &:hover{
            background-color: rgb(167, 167, 167);
            transition: ease-in-out 0.5s;
            transform: translateX(0);
        }
      }
  } 
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 10%;
    font-size: 36px;
    margin-left: 50px;
    color: white;
  }
  .openbtn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 38px;
    margin-left: 50px;
    color: white;
  }
  div.mainmenu{
        width: 100%;
        float: right;
        margin: 0;
        .items{
            margin-top: 100px;
            width: 75%;
            float: right;
        }
      .Images{
          height: 100%;
          background-color: $backgroundcolor;
          padding: 120px 80px;
          float: left;
          margin: 20px 30px;
          text-align: center;
      }
  }
  .pop-up {
      position: absolute;
      top: 20%;
      left: 30%;
      z-index: 2;
      padding: 200px 400px;
      background-color: rgb(175, 175, 175);
      opacity: 0 ;
      border: 3px solid rgb(61, 61, 61);
      font-size: 30px;
  }
  li.controlled {
    background-color: rgb(167, 167, 167);
    }